/* Add your styling for MainContainer component here */
/* For example: */
#main-container {
  height: 100%;
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #87b7ff;
}

#weather-container {
  height: 60%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  text-align: center;
}

#week-container {
  display: flex;
  flex-direction: column;
  gap: 2vh
}